<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/aboutus.css}">
</head>
<body>


    <div class="heading">
            <h1>About Us</h1>
            <p>Dreamweavers is a leading e-waste management company committed to protecting the environment and promoting sustainable practices. We specialize in the responsible collection, recycling, and disposal of electronic waste.
            </p>
        </div>
        <div class="container">
            <section class="about">
                <div class="about-image">
                    <img src="img/waste.jpg">
                </div>
                <div class="about-content">
                    <h2>What we do?</h2>
                    <p><ul><li>Collection: We collect a wide range of electronic devices, including computers, laptops, smartphones, tablets, and more.</li>
                        <li> Recycling: We employ advanced recycling techniques to recover valuable materials like metals, plastics, and glass.</li>
                        <li>Disposal: We dispose of hazardous materials in an environmentally sound manner, complying with all local, state, and federal regulations.</li>
                    </ul> </p>
                </div>
                <div class="about-choose">
                    <h2>Why Choose Us:</h2>
                   <p><ul><li> Environmental Commitment: We are dedicated to minimizing our environmental impact and reducing e-waste pollution.</li>
                    <li>Expertise: Our experienced team has the knowledge and expertise to handle complex e-waste challenges.</li>
                    <li> Security: We prioritize data security and ensure the safe and confidential disposal of electronic devices.</li>
                    <li>Compliance: We adhere to strict regulatory standards to ensure compliance with environmental regulations.</li>
                </ul> </p> 
                </div>
                
                 
               <!--  </div> -->
                <div class="about=join">
                    <h2>Join Us in Making a Difference:</h2>
                   <p>By choosing our Website, you're not just disposing of your old electronics; you're contributing to a greener future. Let's work together to create a more sustainable world.
                </p>    </div>
                 
               
		
		
                
             
            </section>
        </div>
                


</body>
</html>