<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body bgcolor="lightgray" align="center">
<h1 align="center">Your data save sucessfully</h1>
<h1 align="center">Thank You!!!!!!!!!!</h1>
<h2 align="center">Thank you so much! Your message really made my day.</h2>
<h2 align="center">Our team Member is responce you on Your data</h2>
<h2 align="center"> Yeah, I'm good, thanks for asking! How about you?</h2> 
<h2 align="center">I'm all good, thanks for checking</h2>

<h2 align="center"> We are Very Fast responce You UHOOOOOOOOOO!</h2>

<a href="/loginpage"><button type="submit">GO Back</button></a>
</form>
</body>
</html>