<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::body})">
<head>
<link rel="stylesheet" th:href="@{/css/home.css}">

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<!--  start slider-->
		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<!-- <div class="carousel-item active">
					<img src="img/shopping.jpg" class="d-block w-100" alt="sorry"
						hieght="" weight="">
				</div> -->

				<div class="carousel-item active">
					<img src="img/tree.jpg" class="d-block w-100" alt="sorry3"
						height="350px" width="200">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		</div>
		<!-- end catagary -->
	</section>
	<!--end slider  -->

	<!--  select Catagary-->
	<div class="middleSection">
		<img
			src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ewaste1.com%2Fhow-does-recycling-electronics-help-the-environment%2F&psig=AOvVaw3LDFSku2rX_4q9DtyOqKw4&ust=1732349246591000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCODA0_-974kDFQAAAAAdAAAAABAE"
			alt="iPhone" width=90>

		<p>
		<h2 style="text-align: center;">How Keep Electronic Waste
			Growing??</h2>
		<br>
		<ul style="text-align: center;">
			<li>1.Design for recyclability and sustainability</li>
			<li>2. Implement Extended Producer Responsibility (EPR)</li>
			<li>3. Develop closed-loop recycling systems</li>
			<li>4. Encourage repair, refurbishment, and reuse</li>
			<li>5. Strengthen regulations and enforcement</li>
			<li>6. Educate consumers about e-waste impacts</li>
			<li>7. Invest in e-waste management infrastructure</li>
			<li>8.Donate your electronic to charity.</li>
		</ul>
		</p>

		<p>
		<h2 style="text-align: center;">Benifit of follow abow roles!!!</h2>
		<br>
		<ul style="text-align: center;">
			<li>Economic Benefits.</li>
			<li>Reduces environmental pollution.</li>
			<li>Protects human health.</li>
			<li>Reduces soil pollution.</li>
			<li>Reduces air pollution.</li>
			<li>Conservation of Resources.</li>
			<li>Customer Satisfaction.</li>
		</ul>
		

		<div class="about-choose">
			<h2 style="text-align: center;">Why Choose Us:</h2>
			<p>
			<ul style="text-align: center;">
				<li>Environmental Commitment: We are dedicated to minimizing
					our environmental impact and reducing e-waste pollution.</li>
				<li>Expertise: Our experienced team has the knowledge and
					expertise to handle complex e-waste challenges.</li>
				<li>Security: We prioritize data security and ensure the safe
					and confidential disposal of electronic devices.</li>
				<li>Compliance: We adhere to strict regulatory standards to
					ensure compliance with environmental regulations.</li>
			</ul>
			</p>
		</div>
	</div>
</body>
</html>